/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2022 (16.0.1150)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2022
    Target Database Engine Edition : Microsoft SQL Server Express Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [PostalIdempotencyDemo]
GO
/****** Object:  Table [dbo].[shipment_statuses]    Script Date: 9/16/2025 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipment_statuses](
	[id] [int] NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[status_name_he] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 9/16/2025 10:31:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DataType] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[shipment_statuses] ([id], [status_name], [status_name_he], [description]) VALUES (1, N'Created', N'נוצר', N'The shipment has been created in the system but not yet processed.')
INSERT [dbo].[shipment_statuses] ([id], [status_name], [status_name_he], [description]) VALUES (2, N'Delivered', N'נמסר', N'The shipment has been successfully delivered to the recipient.')
INSERT [dbo].[shipment_statuses] ([id], [status_name], [status_name_he], [description]) VALUES (3, N'Failed', N'נכשל', N'The delivery attempt failed.')
GO
INSERT [dbo].[SystemSettings] ([SettingKey], [SettingValue], [Description], [UpdatedAt], [DataType], [CreatedAt]) VALUES (N'IdempotencyExpirationHours', N'14', N'Number of hours after which idempotency entries expire', CAST(N'2025-09-14T11:13:42.5366667' AS DateTime2), N'integer', CAST(N'2025-09-07T12:00:42.8600000' AS DateTime2))
INSERT [dbo].[SystemSettings] ([SettingKey], [SettingValue], [Description], [UpdatedAt], [DataType], [CreatedAt]) VALUES (N'UseIdempotencyKey', N'true', N'Enable or disable idempotency protection globally', CAST(N'2025-09-14T11:13:42.5366667' AS DateTime2), N'boolean', CAST(N'2025-09-07T12:00:42.8600000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__shipment__18B015537CECE063]    Script Date: 9/16/2025 10:31:11 AM ******/
ALTER TABLE [dbo].[shipment_statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name_he] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__shipment__18B01553BFB74FB8]    Script Date: 9/16/2025 10:31:11 AM ******/
ALTER TABLE [dbo].[shipment_statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name_he] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__shipment__501B375377792542]    Script Date: 9/16/2025 10:31:11 AM ******/
ALTER TABLE [dbo].[shipment_statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__shipment__501B3753DA386299]    Script Date: 9/16/2025 10:31:11 AM ******/
ALTER TABLE [dbo].[shipment_statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_SystemSettings_DataType]  DEFAULT (N'string') FOR [DataType]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_SystemSettings_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO


/****** Object:  Table [dbo].[deliveries]    Script Date: 9/16/2025 10:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveries](
	[id] [uniqueidentifier] NOT NULL,
	[barcode] [nvarchar](50) NOT NULL,
	[employee_id] [nvarchar](20) NULL,
	[delivery_date] [datetime2](7) NULL,
	[location_lat] [decimal](10, 8) NULL,
	[location_lng] [decimal](11, 8) NULL,
	[recipient_name] [nvarchar](100) NULL,
	[status_id] [int] NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idempotency_entries]    Script Date: 9/16/2025 10:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idempotency_entries](
	[entry_id] [int] IDENTITY(1,1) NOT NULL,
	[idempotency_key] [nvarchar](128) NOT NULL,
	[request_hash] [nvarchar](64) NOT NULL,
	[response_body] [nvarchar](max) NULL,
	[status_code] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NULL,
	[request_path] [nvarchar](255) NULL,
	[operation] [nvarchar](10) NULL,
	[related_entity_id] [nvarchar](128) NULL,
 CONSTRAINT [PK_idempotency_entries] PRIMARY KEY CLUSTERED 
(
	[entry_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operation_metrics]    Script Date: 9/16/2025 10:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operation_metrics](
	[id] [uniqueidentifier] NOT NULL,
	[operation_type] [nvarchar](50) NOT NULL,
	[endpoint] [nvarchar](100) NOT NULL,
	[execution_time_ms] [bigint] NOT NULL,
	[is_idempotent_hit] [bit] NOT NULL,
	[idempotency_key] [nvarchar](128) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[is_error] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipments]    Script Date: 9/16/2025 10:32:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipments](
	[id] [uniqueidentifier] NOT NULL,
	[barcode] [nvarchar](50) NOT NULL,
	[customer_name] [nvarchar](100) NULL,
	[address] [nvarchar](200) NULL,
	[weight] [decimal](8, 3) NULL,
	[price] [decimal](10, 2) NULL,
	[status_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[deliveries] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[deliveries] ADD  DEFAULT (getutcdate()) FOR [delivery_date]
GO
ALTER TABLE [dbo].[deliveries] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[idempotency_entries] ADD  CONSTRAINT [DF_idem_created_at]  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[operation_metrics] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[operation_metrics] ADD  DEFAULT ((0)) FOR [is_idempotent_hit]
GO
ALTER TABLE [dbo].[operation_metrics] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[operation_metrics] ADD  DEFAULT ((0)) FOR [is_error]
GO
ALTER TABLE [dbo].[shipments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[shipments] ADD  DEFAULT ((6)) FOR [status_id]
GO
ALTER TABLE [dbo].[shipments] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD  CONSTRAINT [FK_deliveries_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[shipment_statuses] ([id])
GO
ALTER TABLE [dbo].[deliveries] CHECK CONSTRAINT [FK_deliveries_status]
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD  CONSTRAINT [FK_deliveries_status_id] FOREIGN KEY([status_id])
REFERENCES [dbo].[shipment_statuses] ([id])
GO
ALTER TABLE [dbo].[deliveries] CHECK CONSTRAINT [FK_deliveries_status_id]
GO
